<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="test1.ListenersDemo"></listener>
</listeners>

  
  
 <test name="Software Company">  
<groups>  
<run>  
<include name="software company"/>  
<exclude name="only"/>  
</run>  
</groups>
  
 
  
  <classes>
  <class name="test1.Learnings"/>
  <class name="test1.Learnings2"/>
  </classes>
    
  </test> 
  
</suite> 
